* {
  box-sizing: border-box;
}
body {
  margin: 0 auto;
}
.wrapper {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.858), gray);
  color: white;
}
.search {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
img {
  width: 100%;
}
h2 {
  color: rgba(255, 0, 0, 0.44);

  height: 10vh;
}
.fade-in {
  animation: fadeIn 2s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.inputSearch {
  width: calc(100vw - 78vw) !important;
}

@media (max-width: 890px) {
  .inputSearch {
    width: calc(100vw - 45vw) !important;
  }
}
@media (max-width: 576px) {
  .inputSearch {
    width: calc(100vw - 190px) !important;
  }
  .btnDelete {
    width: 100px !important;
  }
}
