* {
  box-sizing: border-box;
}
body {
  margin: 0 auto;
}
.wrapper {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.858), gray);
  color: white;
}
.search {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
